body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

#logo {
    width: 20%;
}

.logo_name>a>img {
    width: 40%;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.146);
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: absolute;
    z-index: 1;
    position: fixed;
    transition: padding-bottom padding-top background-color 0.5s ease;
}

nav.scrolled {
    background-color: #ffffff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

nav.scrolled a {
    color: black;
}

.nav-contents {
    margin-left: 20%;
    display: flex;
    gap: 3rem;
}

.bg_image {
    width: 100%;
    position: relative;
    padding-bottom: 46.25%;
}

video {
    width: 100%;
    position: absolute;
    object-fit: cover;
}

.static_book {
    text-align: center;
    padding: 3rem;
    background-color: #f4f4f4;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px 1px, rgba(0, 0, 0, 0.06) 0px 2px 4px 1px;
}

.trust {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    margin: auto;
}

.trust>div img {
    max-width: 50px;
}

.trust p:last-child {
    font-weight: bold;
}

form>input,
select {
    display: block;
    width: 565px;
    height: 60px;
    border-radius: 3px;
    border: none;
    font-size: 16px;
    padding: 0px 0px 0px 20px;
}

form>input:focus,
select:focus {
    outline: none;
}

select option {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

#date {
    width: 97%;
    font-family: 'Lato', sans-serif;
}

.overlay_booking input[type="submit"] {
    font-weight: bold;
    font-size: 17px;

    background-color: #dd4545;
    color: white;

    background-color: #5184EB;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #7496da;
}

.overlay_booking {
    width: auto;
    padding: 2rem;
    position: absolute;
    top: 140px;
    left: 12%;
    background-color: rgba(255, 255, 255, 0.446);
    border-radius: 3px;
}

.how_it_works {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin: 1% 0 3% 8%;
}

.how_it_works div>p:nth-child(1) {
    display: flex;
    gap: 0.5rem;
}

.steps_to_book {
    width: 30%;
    height: auto;
    font-size: 18px;
}

.steps_to_book div p:nth-child(2) {
    color: gray;
}

.images>img {
    width: 70%;
    border-radius: 5px;
}

.index_reviews {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
}

.index_reviews div {
    width: 30%;
    height: 300px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 10px;
    background: #dd45458e;
}

.index_reviews div p {
    text-align: center;
    margin-top: 10%;
    /* margin-bottom: 100px; */
    font-size: 21px;
    font-weight: 550;
}

.index_reviews div span {
    text-align: end;
    font-size: larger;
    color: whitesmoke;
}

.photographer_join>img {
    width: 80%;
    border-radius: 5px;
    margin: 3% 0 3% 10%;
}

.photographer_join {
    position: relative;
}

#signup_btm {
    position: absolute;
    top: 55%;
    left: 48%;
    background-color: black;
    border: 1px solid white;
    color: white;
    font-size: 15px;
    border-radius: 3px;
    padding: 0.7rem 2rem 0.7rem 2rem;
    font-family: 'Poppins', sans-serif;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(136, 136, 136);
}

footer ul {
    display: flex;
    gap: 2rem;
}

footer ul li:nth-child(1) {
    list-style-type: none;
}

footer div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 2rem;
    /* font-size: large; */
    justify-content: space-between;
}

ion-icon {
    font-size: 24px;
}

.nav-contents>a:hover {
    color: #dd4545;
}

#signup-link {
    display: flex;
    align-items: center;
}

/* #dropdown-menu {
    position: absolute;
    display: none;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    z-index: 1;
    right: 12%;
    top: 65%;
}

#dropdown-menu a {
    display: block;
    padding: 8px 0;
    text-decoration: none;
    color: #333;
    padding: 12px 12px;
}

#dropdown-menu a:hover {
    background-color: #dd4545d1;
} */



@media screen and (min-width: 500px) and (max-width: 1000px) {
    .hamburger {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 20px;
        cursor: pointer;
        margin-left: 10px;
    }

    .hamburger .line {
        width: 100%;
        height: 2px;
        background-color: #dd4545;
    }

    .nav-contents {
        display: none;
    }

    .hamburger {
        display: flex;
    }
    .show-nav {
        display: flex;
        position: absolute;
        top: 83%;
        width: auto;
        left: 47%;
        flex-direction: column;
        background-color: #f9f9f9;
        padding: 20px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .show-nav a {
        font-size: small;
        color: #333;
    }
    .bg_image {
        margin-bottom: 5%;
    }

    .overlay_booking {
        width: 70%;
        padding: 2rem;
        position: static;
        margin: auto;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        background-color: rgba(255, 255, 255, 0.446);
        border-radius: 3px;
    }

    .overlay_booking h1 {
        font-size: larger;
    }

    form>input,
    select {
        display: block;
        width: 350px;
        height: 40px;
        border-radius: 3px;
        border: 1px solid rgb(206, 206, 206);
        font-size: 14px;
    }

    .static_book {
        margin-top: 5%;
    }

    .overlay_booking input[type="submit"] {
        font-weight: bold;
        font-size: 14px;
    }

    #date {
        width: 330px;
    }

    .images {
        margin-left: 15%;
    }

    .steps_to_book {
        width: 50%;
    }

    .index_reviews div {
        width: fit-content;
        margin-bottom: 20px;
    }

    .index_reviews div p {
        text-align: center;
        font-size: 18px;
        font-weight: 550;
    }

    nav {
        padding: 0;
    }

    .nav-contents {
        margin-right: 10%;
        font-size: small;
    }
}

/* Media query for small screens */
@media screen and (min-width: 100px) and (max-width:500px) {

    /* Hamburger menu styles */
    .hamburger {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 20px;
        cursor: pointer;
        margin-left: 10px;
    }

    .hamburger .line {
        width: 100%;
        height: 2px;
        background-color: #dd4545;
    }

    .nav-contents {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .overlay_booking {
        display: block;
        position: static;
        /* margin-left: 15%; */
    }

    form>input,
    select {
        display: block;
        width: 250px;
        height: 40px;
        border-radius: 3px;
        border: 1px solid rgb(206, 206, 206);
        font-size: 14px;
    }

    #date {
        width: 230px;
    }

    .steps_to_book,
    .index_reviews {
        width: fit-content;
    }

    .steps_to_book>div {
        width: fit-content;
    }

    .index_reviews>div {
        width: fit-content;
        margin-top: 10px;
    }

    .images>img {
        width: 90%;
    }

    /* Show the navigation contents when hamburger menu is clicked */
    .show-nav {
        display: flex;
        position: absolute;
        top: 83%;
        width: auto;
        left: 40%;
        flex-direction: column;
        background-color: #f9f9f9;
        padding: 20px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .show-nav a {
        font-size: small;
        color: #333;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    #signup_btm {
        display: none;
    }
}