/* div{
    border: 1px solid black;
} */

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
    background-color: #E5E7EB;
}

/* Nav Bar */
nav{
    display: flex;
    position: sticky;
    top: 0;
    height: 50px;
    padding: 10px;
    margin-bottom: 50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #fff;
}
nav > div{
    display: flex;
}
nav > div:nth-child(2){
    margin-left: auto;
    width: 20%;
    justify-content: space-evenly;
    
}
nav > div:nth-child(1){
    width: 30%;
    justify-content: space-between;
}
nav img{
    height: 100%;
    width: 100%;
}
#settings {
    height: 90%;
}
#logout{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    padding: 0px 10px;
    border: none;
    border-radius: 7px;
    color: #fff;
    font-weight: 500;
    background-color: #DD4545;
    font-size: 20px;
}
#logout:hover{
    cursor: pointer;
    background-color: #EC9797;
}
#name {
    display: flex;
    align-items: center;
}

#events{
    display: flex;
    margin-left: 5%;
    z-index: 0;
}
#events > div{
    border-radius: 8px 8px 0 0;
    margin-right: 20px;
    display: flex;
    align-items: center;
    background-color: #5184eb;
    color: #fff;
    font-weight: 500;
    z-index: 1;
    padding: 25px 30px;
    border: none;
}
#events > div:nth-child(1){
    background-color: #fff;
    color: black;
}
#events > div:hover{
    cursor: pointer;
}

#cont{
    width: 90%;
    margin: auto;
    z-index: 5;
    height: 500px;
    padding: 30px 0px ;
    background-color: #fff;
}

table{
    width: 90%;
    margin: auto;
    border-collapse: collapse;
}
td, th{
    border-bottom: 1px solid rgb(189, 183, 183);
    padding: 5px;
    text-align: center;
}
td{
    padding-top: 30px;
}

.accept > div{
    padding: 10px;
    background-color: rgb(121, 223, 121);
    color: #fff;
    text-align: center;
    border-radius: 4px;
}
.accept > div:hover{
    cursor: pointer;
    background-color: lightgreen;
}
.reject > div{
    text-align: center;
    padding: 10px;
    background-color: #df5e5e;
    color: #ffff;
    border-radius: 4px;
}
.reject > div:hover{
    cursor: pointer;
    background-color: #e77777;
}